*{
    font: Roboto;
    margin: 0;
    padding: 0;
body{
    display: flex;
    flex-direction: column;
}
.logo{
    font-size: 24px;
    color #F8FAF8;
}
.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}
.nav-bar{
    display: flex;
    
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.awesome{
    display: flex;
    padding: 0px 200px;
    justify-content: space-between;
    margin: 200px 0px; 
    background-color: #1F2937;
    flex: 1;
}
.awesome-text>h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.awesome-text>p{
    color: #E5E7EB;
    font-size: 18px;
}
.col{
    background-color: #1F2937;
}
.awesome-text>button{
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
